.git
.github
.next
.turbo
.vercel

# dependencies / package managers
node_modules
.pnpm-store
.pnp.*

# local env & secrets
.env.local
.env.*.local

# logs / caches
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS/editor noise
.DS_Store
Thumbs.db
.idea
.vscode
